@model MyPortalCore.Areas.Staff.ViewModels.Home.HomepageViewModel
@{
    ViewBag.Title = "Home";   
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-home mr-2"></i>Home</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Home
                </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="" class="btn btn-sm btn-elevate btn-brand btn-elevate" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Select Academic Year">
                    <span class="kt-opacity-7" id="kt_dashboard_daterangepicker_title">Today:</span>&nbsp;
                    <span class="kt-font-bold" id="kt_dashboard_daterangepicker_date">Feb 10</span>
                    <i class="flaticon-calendar-with-a-clock-time-tools kt-padding-l-5 kt-padding-r-0"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--begin::Dashboard 2-->
    <!--begin::Row-->
    <div class="row">

    </div>

    <!--end::Row-->
    <!--end::Dashboard 2-->
</div>

@section Scripts
{
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <script src="~/lib/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>

    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="~/lib/assets/js/pages/dashboard.js" type="text/javascript"></script>
}
