@using MyPortal.Services
@{
    ViewBag.Title = "No Academic Year";
    ViewBag.DisplayTitle = "No Academic Year";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Error</h1>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <p class="text-danger">No academic year has been defined.</p>
    </div>
</div>

@if (User.HasPermission("EditAcademicYears"))
{
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <p>Please set up an academic year</p>
        </div>
    </div>
}

