
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<h2>Surname, Forename</h2>

<hr/>

<body>
<div class="container" id="Details">
    <div style="float: left;">
        <div class="panel panel-primary" style="width: 300px;">
            <div class="panel-heading">MyDetails</div>
            <div class="panel-body">
                No details to display.
            </div>
        </div>
    </div>
    <div style="float: left; margin-left: 20px;" id="Results">
        <div class="panel panel-primary" style="width: 300px;">
            <div class="panel-heading">MyResults</div>
            <div class="panel-body">
                No results to display.
            </div>
        </div>
    </div>
    <div style="float: left; margin-left: 20px;" id="Chart">
        <div class="panel panel-primary" style="width: 300px;">
            <div class="panel-heading">MyResults - Chart</div>
            <div class="panel-body">
                No data to display.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div class="panel panel-primary" style="width: 940px;">
            <div class="panel-heading">MyLogs</div>
            <div class="panel-body">
                No logs to display.
            </div>
        </div>
    </div>
</div>

</body>
