@model MyPortal.ViewModels.StudentSalesHistoryViewModel
@{
    ViewBag.Title = "MySales History: " + Model.Student.LastName + ", " + Model.Student.FirstName;
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">MySales History</h2>
    <hr/>
</div>

<div class="container float-left">
    <table class="table table-bordered table-hover mp-table" id="salesHistory" data-student-id="@Model.Student.Id">
        <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#salesHistory").DataTable({
                ajax: {
                    url: "/api/sales/student",
                    data: { studentId: $("#salesHistory").attr("data-student-id") },
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "date",
                        render: function(data) {
                            var date = new Date(data);
                            return date.toLocaleDateString();
                        }
                    },
                    {
                        data: "product.description"
                    },
                    {
                        data: "amountPaid",
                        render: $.fn.dataTable.render.number(',', '.', 2, '£')
                    }
                ],
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "No sales to display"
                }
            });
        });
    </script>
}


