@model MyPortal.ViewModels.StudentStoreViewModel
@{
    ViewBag.Title = "MyStore";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">MyStore</h2>
    <p>Please make sure you have your parents' permission before using the store.</p>
    <hr/>
</div>

<div class="container float-left">
    <h4 id="accountBalance"><b>Your Balance:</b> Loading...</h4>
    <hr/>
    <div class="container" id="productsPanel">
        <h4 class="mp-bold">Available Products</h4>
        <table class="table table-sm table-bordered mp-table" id="products" data-student-id="@Model.Student.Id">
            <thead>
            <tr>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="container" id="basketPanel">
        <div>
            <h4 class="mp-bold">My Basket</h4>
            <table class="table table-sm table-bordered mp-table" id="basket" data-student-id="@Model.Student.Id">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
            <h5 id="basketTotal"><b>Total:</b> Loading...</h5>
            <button type="button" class="btn btn-success" id="checkoutButton">Checkout</button>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {

            var student = $("#products").attr("data-student-id");

            function updateTotal() {
                $.ajax({
                    url: "/api/basket/total",
                    data: {
                        'student': student
                    },
                    method: "GET",
                    success: function(result) {
                        $("#basketTotal").html("<b>Total:</b> £" + result.toFixed(2));
                        if (result > 0) {
                            $("#checkoutButton").removeClass("d-none");
                        } else {
                            $("#checkoutButton").addClass("d-none");
                        }
                    },
                    error: function(result) {
                        toastr.error(result.responseJSON);
                    }
                });
            }

            function updateBalance() {
                $.ajax({
                    url: "/api/students/balance",
                    data: {
                        'student': student
                    },
                    method: "GET",
                    success: function(result) {
                        $("#accountBalance").html("<b>Your Balance:</b> £" + result.toFixed(2));
                    },
                    error: function(result) {
                        toastr.error(result.responseJSON);
                    }
                });
            }

            $("#products").DataTable({
                ajax: {
                    url: "/api/products/store",
                    data: {
                        'student': student
                    },
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "description"
                    },
                    {
                        data: "price",
                        render: $.fn.dataTable.render.number(',', '.', 2, '£')
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button type='button' class='btn btn-xs btn-primary js-add' data-product-id=" +
                                data +
                                ">Add to Basket</button>";
                        }
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "No products available"
                }
            });

            $("#basket").DataTable({
                ajax: {
                    url: "/api/basket",
                    data: {
                        'student': student
                    },
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "product.description"
                    },
                    {
                        data: "product.price",
                        render: $.fn.dataTable.render.number(',', '.', 2, '£')
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button type='button' class='btn btn-xs btn-danger js-remove' data-item-id=" +
                                data +
                                ">Remove</button>";
                        }
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "Basket is empty"
                }
            });

            $("#products").on("click",
                ".js-add",
                function() {
                    var button = $(this);
                    $.ajax({
                        url: "/api/basket/add",
                        data: {
                            'Id': 0,
                            'ProductId': button.attr("data-product-id"),
                            'StudentId': student
                        },
                        method: "POST",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function(result) {
                            $("#products").DataTable().ajax.reload();
                            $("#basket").DataTable().ajax.reload();
                            updateTotal();
                            toastr.success(result);
                        },
                        error: function(result) {
                            toastr.error(result.responseJSON);
                        }
                    });
                });

            $("#basket").on("click",
                ".js-remove",
                function() {
                    var button = $(this);
                    $.ajax({
                        url: "/api/basket/remove/" + button.attr("data-item-id"),
                        method: "DELETE",
                        success: function(result) {
                            $("#products").DataTable().ajax.reload();
                            $("#basket").DataTable().ajax.reload();
                            updateTotal();
                            toastr.success(result);
                        },
                        error: function(result) {
                            toastr.error(result.responseJSON);
                        }
                    });
                });

            $("#checkoutButton").on("click",
                function() {
                    bootbox.confirm("Are you sure you wish to checkout?",
                        function(result) {
                            if (result)
                                $.ajax({
                                    url: "/api/sales/purchase",
                                    method: "POST",
                                    data: {
                                        'studentId': student
                                    },
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    success: function(result) {
                                        $("#products").DataTable().ajax.reload();
                                        $("#basket").DataTable().ajax.reload();
                                        updateTotal();
                                        updateBalance();
                                        toastr.success(result);
                                    },
                                    error: function(result) {
                                        toastr.error(result.responseJSON);
                                    }
                                });
                        });
                });

            updateTotal();
            updateBalance();
        });
    </script>

    @Scripts.Render("~/bundles/students")
    @Scripts.Render("~/bundles/jqueryval")

}