@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = $"Home: {User.Identity.GetUserName()}";
    ViewBag.DisplayTitle = "Home";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@User.Identity.GetUserName()</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12">
        <div class="alert alert-danger" role="alert">
            No person is attached to this user; some features may be limited.
        </div>
    </div>

</div>