<div class="card card-custom" id="reset_password">
  <div class="card-header">
    <h3 class="card-title">
      <span class="card-label font-weight-bolder text-dark">Reset Password</span>
    </h3>
    <div class="card-toolbar">
      <button class="btn btn-light-primary font-weight-bolder mr-2" (click)="goBack()">
        <i class="fas fa-arrow-left mr-1"></i>Back
      </button>
    </div>
  </div>

  <div class="card-body">
    <!--begin: Search Form-->
    <!--begin::Search Form-->
    <div class="mb-10">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="row mb-5">
          <div class="col-sm-3">
            <label>New Password</label>
            <input [ngClass]="{'is-invalid': password.touched && password.invalid}" type="password" class="form-control form-control-solid" formControlName="password"/>
            <div *ngIf="password.touched && password.invalid" class="invalid-feedback">New Password is required.</div>
          </div>
        </div>
        <div class="row mb-6">
          <div class="col-sm-3">
            <label>Confirm Password</label>
            <input [ngClass]="{'is-invalid': confirmPassword.touched && confirmPassword.invalid}" type="password" class="form-control form-control-solid" formControlName="confirmPassword"/>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="invalid-feedback">Confirm Password is required.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-light-primary">Reset Password</button>
      </form>
    </div>
</div>
</div>
