@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentSearchViewModel

@{
    ViewBag.Title = "Student Search";
}

<!-- Header -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-user-graduate"></i> Students</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link">Students</a>
            </div>
        </div>
    </div>
</div>

<!-- Main Container -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">							
							<div class="kt-portlet kt-portlet--mobile">
								<div class="kt-portlet__head kt-portlet__head--lg">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											Search											
										</h3>
									</div>									
								</div>
								<div class="kt-portlet__body">
									<!--begin: Search Form -->
									<div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
										<div class="row align-items-center">
											<div class="col-xl-8 order-2 order-xl-1">
                                                <div class="row align-items-center">
                                                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-form__group kt-form__group--inline">
                                                            <div class="kt-form__label">
                                                                <label>Status:</label>
                                                            </div>
                                                            <div class="kt-form__control">
                                                                <select class="form-control" id="kt_form_status" tabindex="-98">
                                                                    <option value="@Guid.Empty">All</option>
                                                                    <option value="1" selected>On Roll</option>
                                                                    <option value="2">Leavers</option>
                                                                    <option value="3">Future</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-input">
                                                            <input type="text" class="form-control" placeholder="First Name" id="firstNameSearch">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-input">
                                                            <input type="text" class="form-control" placeholder="Last Name" id="lastNameSearch">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 kt-margin-b-20-tablent-and-mobile">
                                                        <button class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                                                    </div>
                                                </div>
											</div>
                                        </div>
									</div>

									<!--end: Search Form -->
								</div>
								<div class="kt-portlet__body kt-portlet__body--fit">

								</div>
							</div>
						</div>



