@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentOverviewViewModel
@{
    ViewBag.Title = "Student Overview";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">            
            <h3 class="kt-subheader__title">
                <i class="fas fa-user-graduate mr-2"></i>Student Overview                           
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    @Model.Student.Person.GetDisplayName()
                </span>            
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="Reports" data-placement="top"><i class="flaticon2-writing"></i></a>
                <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="Calendar" data-placement="top"><i class="flaticon2-hourglass-1"></i></a>
                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="top">
                    <a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="dropdown" data-offset="0px,0px" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon2-add-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="kt-nav" role="tablist">
                            <li class="kt-nav__item">
                                <a href="" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-sms"></i>
                                    <span class="kt-nav__link-text">Log Note</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="top">
                    <a href="#" class="btn btn btn-label btn-label-brand btn-bold" data-toggle="dropdown" data-offset="0 0" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="kt-nav kt-nav--active-bg" id="kt_nav_1" role="tablist">
                            <li class="kt-nav__item">
                                <a href="" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-psd"></i>
                                    <span class="kt-nav__link-text">Products</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" role="tab" id="kt_nav_link_1">
                                    <i class="kt-nav__link-icon flaticon2-supermarket"></i>
                                    <span class="kt-nav__link-text">Customers</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--rounded">6</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-shopping-cart"></i>
                                    <span class="kt-nav__link-text">Orders</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-shopping-cart"></i>
                                    <span class="kt-nav__link-text">Reports</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" role="tab" id="kt_nav_link_2">
                                    <i class="kt-nav__link-icon flaticon2-chart2"></i>
                                    <span class="kt-nav__link-text">Console</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--rounded">new</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-sms"></i>
                                    <span class="kt-nav__link-text">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Content-->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

</div>

@section Scripts
{
    
}
