@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentOverviewViewModel
@{
    ViewData["Title"] = "StudentOverview";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<h1>StudentOverview</h1>

