@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentDocumentsViewModel
@{
    ViewBag.Title = "Documents";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <i class="fas fa-file mr-2"></i>Documents
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    @Model.Student.Person.GetDisplayName()
                </span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">

        </div>
    </div>
</div>

<!--Content-->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->

        <partial name="_StudentProfileSideBar"/>

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col-xl-8">
                    <!--begin:: Documents-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Documents
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <btn type="button" class="btn btn-brand btn-bold btn-sm mr-2" id="btnNewDocument">
                                    <i class="fas fa-plus mr-2"></i>Add Document
                                </btn>
                                <btn type="button" class="btn btn-brand btn-bold btn-sm" id="btnNewDirectory">
                                    <i class="fas fa-plus mr-2"></i>Add Directory
                                </btn>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" class="btn btn-sm btn-info" id="backButton" disabled><i class="fas fa-arrow-left mr-2"></i>Back</button>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <table id="tblDocuments" class="table table-striped font-weight-500" data-directory-id="@Model.Student.Person.DirectoryId">
                                        <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Uploaded
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--end:: Documents-->
                </div>
            </div>
        </div>
        <!--End:: App Content-->
    </div>
<!--End::App-->

@section Scripts
{
    <script>

        var urlGetDirectoryInfo = "@Url.RouteUrl("ApiDirectoryGetChildren")";

        var rootDirectory = "@Model.Student.Person.DirectoryId";

        $(document).ready(function() {
            $("#studentDocumentsLink").addClass("kt-widget__item--active");

            loadDirectory(rootDirectory);

            $("#backButton").on("click",
                function() {
                    loadDirectory($(this).attr("data-parent-id"));
                });
        });

        function loadDirectory(directoryId) {
            var table = $("#tblDocuments");

            table.attr("data-directory-id", directoryId);

            var params = { directoryId: directoryId };

            var url = `${urlGetDirectoryInfo}?${$.param(params)}`;

            if (table.hasClass("dataTable")) {
                var dt = table.DataTable();

                dt.ajax.url(url);

                dt.ajax.reload();
            } else {
                loadDataTable(url);
            }
        }

        function setBackButton(directory) {
            if (directory.parentId == null) {
                $("#backButton").attr("disabled", true);
                $("#backButton").removeAttr("data-parent-id");
            } else {
                $("#backButton").removeAttr("disabled");
                $("#backButton").attr("data-parent-id", directory.parentId);
            }
        }

        function loadDataTable(url) {
            $("#tblDocuments").DataTable({
                ajax:
                {
                    url: url,
                    dataSrc: function(data) {
                        setBackButton(data.directory);

                        return data.children;
                    }
                },
                "dom": "rtilp",
                columns: [
                    {
                        data: "id",
                        render: function(data, type, document) {
                            if (document.isDirectory) {
                                return `<span><img src="${document.icon}" class="mr-2" height="30"/><a href="javascript:loadDirectory('${document.id}');">${document.name}</a></span>`;
                            } else {
                                return `<span><img src="${document.icon}" class="mr-2" height="30"/>${document.name}</span>`;
                            }
                        }
                    },
                    {
                        data: "type"
                    },
                    {
                        data: "createdDate",
                        render: function(data, type, document) {
                            if (document.isDirectory) {
                                return "";
                            } else {
                                return `${moment(document.createdDate).format("DD/MM/YYYY")}`;
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, document) {
                            if (document.isDirectory) {
                                return `<div class="dropdown dropdown-inline show"><a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" data-toggle="dropdown" aria-expanded="true"><span class="svg-icon svg-icon-md"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"></path></g></svg></span></a></div>`;
                            } else {
                                return "";
                            }
                        }
                    }
                ],
                "ordering": false,
                "language":
                {
                    "emptyTable": "No documents"
                }
            });
        }
    </script>

    <script src="~/js/modals.js"></script>
}

