<!DOCTYPE html>
<html lang=" en">

<head>
    <meta charset="utf-8" />
    <title>MyPortal | @ViewBag.Title</title>
    <meta name="description" content="MyPortal - Web Based MIS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <link href="lib/metronic/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <link href="lib/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="lib/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <link href="lib/metronic/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="lib/metronic/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="lib/metronic/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="lib/metronic/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="lib/metronic/media/logos/favicon.ico" />

</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="index.html">
            <img alt="Logo" src="assets/media/logos/logo-light.png" />
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
    </div>
</div>

<!-- end:: Header Mobile -->


</body>

</html>