@model MyPortal.Areas.Staff.ViewModels.RolePermissionsViewModel
@{
    ViewBag.Title = "Role Permissions";
    ViewBag.DisplayTitle = "Role Permission";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Permissions for Role: @Model.Role.Name</h1>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Permissions</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Permissions").DataSource(d =>
                   {
                       d.Url(Url.HttpRouteUrl("ApiGetPermissionsByRoleDataGrid", new{roleId = Model.Role.Id})).CrossDomain(false).Adaptor("UrlAdaptor");
                   }).Columns(c =>
                   {
                       c.Field("Permission.Area").HeaderText("Area").Template("#permissionAreaTemplate").Width("200").Add();
                       c.Field("Permission.Description").HeaderText("Description").Template("#permissionDescriptionTemplate").Width("300").Add();
                       c.Field("HasPermission").HeaderText("Allow").DisplayAsCheckBox(true).Width("100").Add();
                       c.HeaderText("Actions").Template("#permissionActionsTemplate").Width("170").Add();
                   }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.IgnoreCase(true);}).Toolbar(new List<string> {"Search"}).Render()
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var urlTogglePermission =  "@Url.HttpRouteUrl("ApiToggleRolePermission", new{})";

            $("#Permissions").on("click",
                ".js-toggle",
                function() {
                    var button = $(this);
                    var permissionId = button.attr("data-permission-id");
                    $.ajax({
                        url: urlTogglePermission,
                        method: "POST",
                        data: {roleId: "@Model.Role.Id", permissionId: permissionId},
                        success: function (result) {
                            refreshTable("Permissions");
                            toastr.success(result);
                        },
                        error: function(result) {
                            toastr.error(result.responseJSON);
                        }
                    });
                });
        });
    </script>
    
    <script type="text/x-jsrender" id="permissionAreaTemplate">
        <div>
            ${Permission.Area}
        </div>
    </script>
    
    <script type="text/x-jsrender" id="permissionDescriptionTemplate">
        <div>
            ${Permission.Description}
        </div>
    </script>
    
    <script type="text/x-jsrender" id="permissionActionsTemplate">
        <button type="button" class="btn btn-xs btn-warning mp-btn-action js-toggle" data-permission-id="${Permission.Id}">
            <i class="fas fa-check"></i>
        </button>
    </script>
}

