@model MyPortal.Areas.Staff.ViewModels.Admin.UsersViewModel
@{
    ViewBag.Title = "Users";
    ViewBag.DisplayTitle = "Users";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12">
        
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user"></i> Users</h6>
            </div>
            
            <div class="card-body">
                
                <div class="mb-4">

                    <a class="btn btn-sm btn-primary" href="@Url.Action("NewUser")"><i class="fas fa-plus"></i> New User</a>

                </div>
                
                @Html.EJS().Grid("Users").DataSource(d =>
                {
                    d.Url(Url.HttpRouteUrl("ApiGetAllUsersDataGrid", new {})).CrossDomain(false).Adaptor("UrlAdaptor");
                }).Columns(c =>
                {
                    c.Field("Username").HeaderText("Username").Template("#usersUserNameTemplate").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.IgnoreCase(true); }).Toolbar(new List<string> {"Search"}).Render()

            </div>

        </div>

    </div>

</div>

@section scripts
{
    <script>

        var urlUserDetails = "@Url.Action("UserDetails", new {userId = "abcd"})";

        $(document).ready(function() {

        });

        function getUserDetailsUrl(id) {
            return urlUserDetails.replace("abcd", id);
        }
    </script>

    <script type="text/x-jsrender" id="usersUserNameTemplate">
        <div>
            <span><a href=${getUserDetailsUrl(Id)}>${Username}</a></span>
        </div>
    </script>
}