@model MyPortal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container float-left">
    <h2 class="mp-page-title">Account Management</h2>
    <h4>Change your account settings</h4>
    <hr />
</div>

<div class="container">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <button type="button" class="btn btn-warning mp-btn-top-auto" onclick="location.href='@Url.Action("ChangePassword")'">

        <i class="fas fa-key"></i> Change Password

    </button>
</div>
