<!--begin::Main-->
<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
  <!--begin::Logo-->
  <img alt="Logo" src="assets/media/logos/transparent.png" class="max-h-50px"/>
  <!--end::Logo-->
  <!--begin::Toolbar-->
  <div class="d-flex align-items-center">
    <!--begin::Aside Mobile Toggle-->
    <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
      <span></span>
    </button>
    <!--end::Aside Mobile Toggle-->
    <!--begin::Topbar Mobile Toggle-->
    <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
            <!--end::Svg Icon-->
					</span>
    </button>
    <!--end::Topbar Mobile Toggle-->
  </div>
  <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <app-staff-sidebar></app-staff-sidebar>
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <!--begin::Header-->
      <div id="kt_header" class="header header-fixed">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between">
          <!--begin::Header Menu Wrapper-->
          <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

          </div>
          <!--end::Header Menu Wrapper-->
          <!--begin::Topbar-->
          <div class="topbar">
            <!--begin::User-->
            <div class="dropdown">
              <!--begin::Toggle-->
              <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px" aria-expanded="false">
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">
                  <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{(authService.currentUser$ | async)?.displayName}}</span>
                  <span class="symbol symbol-35 symbol-light-success">
                    <span class="symbol-label font-size-h5 font-weight-bold">{{(authService.currentUser$ | async)?.displayName?.charAt(0)}}</span>
                  </span>
                </div>
              </div>
              <!--end::Toggle-->
              <!--begin::Dropdown-->
              <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0" style="">
                <!--begin::Header-->
                <div class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(assets/lib/media/misc/bg-1.jpg)">
                  <div class="d-flex align-items-center mr-2">
                    <!--begin::Symbol-->
                    <div class="symbol bg-white-o-15 mr-3">
                      <span class="symbol-label text-success font-weight-bold font-size-h4">{{(authService.currentUser$ | async)?.displayName?.charAt(0)}}</span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Text-->
                    <div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">{{(authService.currentUser$ | async)?.displayName}}</div>
                    <!--end::Text-->
                  </div>
                  <span class="label label-primary label-lg font-weight-bold label-inline">Staff</span>
                </div>
                <!--end::Header-->
                <!--begin::Nav-->
                <div class="navi navi-spacer-x-0 pt-5">
                  <!--begin::Item-->
                  <a href="/metronic/demo1/custom/apps/user/profile-1/personal-information.html" class="navi-item px-8">
                    <div class="navi-link">
                      <div class="navi-icon mr-2">
                        <i class="flaticon2-calendar-3 text-success"></i>
                      </div>
                      <div class="navi-text">
                        <div class="font-weight-bold">My Profile</div>
                        <div class="text-muted">Account settings and more</div>
                      </div>
                    </div>
                  </a>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <a href="/metronic/demo1/custom/apps/user/profile-3.html" class="navi-item px-8">
                    <div class="navi-link">
                      <div class="navi-icon mr-2">
                        <i class="flaticon2-mail text-warning"></i>
                      </div>
                      <div class="navi-text">
                        <div class="font-weight-bold">My Messages</div>
                        <div class="text-muted">Inbox and tasks</div>
                      </div>
                    </div>
                  </a>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <a href="/metronic/demo1/custom/apps/user/profile-2.html" class="navi-item px-8">
                    <div class="navi-link">
                      <div class="navi-icon mr-2">
                        <i class="flaticon2-rocket-1 text-danger"></i>
                      </div>
                      <div class="navi-text">
                        <div class="font-weight-bold">My Activities</div>
                        <div class="text-muted">Logs and notifications</div>
                      </div>
                    </div>
                  </a>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <a href="/metronic/demo1/custom/apps/userprofile-1/overview.html" class="navi-item px-8">
                    <div class="navi-link">
                      <div class="navi-icon mr-2">
                        <i class="flaticon2-hourglass text-primary"></i>
                      </div>
                      <div class="navi-text">
                        <div class="font-weight-bold">My Tasks</div>
                        <div class="text-muted">Personal and assigned tasks</div>
                      </div>
                    </div>
                  </a>
                  <!--end::Item-->
                  <!--begin::Footer-->
                  <div class="navi-separator mt-3"></div>
                  <div class="navi-footer px-8 py-5">
                    <button (click)="logout()" class="btn btn-light-primary font-weight-bold">Sign Out</button>
                  </div>
                  <!--end::Footer-->
                </div>
                <!--end::Nav-->
              </div>
              <!--end::Dropdown-->
            </div>
            <!--end::User-->
          </div>
          <!--end::Topbar-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Header-->
      <!--begin::Content-->
      <!--TODO: Router Outlet Here-->
      <router-outlet id="staff-outlet"></router-outlet>
      <!--end::Content-->
      <!--begin::Footer-->
      <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
        <!--begin::Container-->
        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
          <!--begin::Copyright-->
          <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">&copy;&nbsp;2020&nbsp;</span>
            <span class="text-dark-75">MyPortal Ltd</span>
          </div>
          <!--end::Copyright-->
          <!--begin::Nav-->
          <div class="nav nav-dark">

          </div>
          <!--end::Nav-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Main-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
        <!--end::Svg Icon-->
			</span>
</div>
<!--end::Scrolltop-->
