<div class="card card-custom">
  <!--begin::Header-->
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-bolder text-dark">Browse Students</span>
      </h3>
      <div class="card-toolbar">
          <div class="dropdown dropdown-inline">
              <!--begin::Trigger Modal-->
              <button class="btn btn-light-primary font-weight-bolder font-size-sm" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#exampleModalCustomScrollable">
                  <i class="fas fa-plus mr-1"></i>New Student
              </button>
              <!--end::Trigger Modal-->
              <!--begin::Modal Content-->
              <div class="modal fade" id="exampleModalCustomScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <i aria-hidden="true" class="ki ki-close"></i>
                              </button>
                          </div>
                          <div class="modal-body">
                              <div data-scroll="true" data-height="600" class="scroll ps" style="height: 600px; overflow: hidden;">
                                  <form class="form pt-9">
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Name</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <input class="form-control form-control-lg form-control-solid" type="text" value="Nick">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Nickname</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <input class="form-control form-control-lg form-control-solid" type="text" value="Bold">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Organization</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <input class="form-control form-control-lg form-control-solid" type="text" value="Loop Inc.">
                                              <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
                                          </div>
                                      </div>
                                      <div class="separator separator-dashed my-10"></div>
                                      <!--begin::Heading-->
                                      <div class="row">
                                          <div class="col-lg-9 col-xl-6 offset-xl-3">
                                              <h3 class="font-size-h6 mb-5">Contact Info:</h3>
                                          </div>
                                      </div>
                                      <!--end::Heading-->
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Phone</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <div class="input-group input-group-lg input-group-solid">
                                                  <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                  <input type="text" class="form-control form-control-lg form-control-solid" value="+35278953712" placeholder="Phone">
                                              </div>
                                              <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Email Address</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <div class="input-group input-group-lg input-group-solid">
                                                  <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                  <input type="text" class="form-control form-control-lg form-control-solid" value="nick.bold@loop.com" placeholder="Email">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Site</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <div class="input-group input-group-lg input-group-solid">
                                                  <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Username" value="loop">
                                                  <div class="input-group-append"><span class="input-group-text">.com</span></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="separator separator-dashed my-10"></div>
                                      <!--begin::Heading-->
                                      <div class="row">
                                          <div class="col-lg-9 col-xl-6 offset-xl-3">
                                              <h3 class="font-size-h6 mb-5">Contact Info:</h3>
                                          </div>
                                      </div>
                                      <!--end::Heading-->
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Email Notification</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <span class="switch">
                                                  <label>
                                                      <input type="checkbox" checked="checked" name="email_notification_1">
                                                      <span></span>
                                                  </label>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-xl-3 col-lg-3 text-right col-form-label">Send Copy</label>
                                          <div class="col-lg-9 col-xl-6">
                                              <span class="switch">
                                                  <label>
                                                      <input type="checkbox" name="email_notification_2">
                                                      <span></span>
                                                  </label>
                                              </span>
                                          </div>
                                      </div>
                                  </form>
                                  <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-primary font-weight-bold">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!--end::Modal Content-->
          </div>
      </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body">
      <!--begin: Search Form-->
      <!--begin::Search Form-->
      <div class="mb-10">
          <form #searchForm="ngForm" (ngSubmit)="search()">
          <div class="row align-items-center">
              <div class="col-lg-9 col-xl-8">
                  <div class="row align-items-center">
                      <div class="col-md-3 my-2 my-md-0">
                          <input type="text" class="form-control form-control-solid" placeholder="First Name" name="FirstName" [(ngModel)]="searchModel.firstName">
                      </div>
                      <div class="col-md-3 my-2 my-md-0">
                          <input type="text" class="form-control form-control-solid" placeholder="Last Name" name="LastName" [(ngModel)]="searchModel.lastName">
                      </div>
                      <div class="col-md-3 my-2 my-md-0">
                          <select class="form-control form-control-solid" name="Status" [(ngModel)]="searchModel.status">
                              <option value="0">Any</option>
                              <option value="1">On Roll</option>
                              <option value="2">Leavers</option>
                              <option value="3">Future</option>
                          </select>
                      </div>
                      <div class="col-md-3 my-2 my-md-0">
                        <select class="form-control form-control-solid" name="Gender" [(ngModel)]="searchModel.gender">
                            <option value="null">Any</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="X">Other</option>
                            <option value="U">Unknown</option>
                        </select>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                  <button id="searchButton" class="btn btn-light-primary px-6 font-weight-bold" type="submit">
                      <i class="fas fa-search mr-1"></i>Search
                  </button>
              </div>
          </div>
        </form>
      </div>
      <!--end::Search Form-->
      <!--end: Search Form-->
      <!--begin: Datatable-->
      <div class="kt-portlet__body d-none" id="searchResults">
          <div class="row">
              <div class="col-md-12">
                  <table id="student_search" class="table">
                      <thead>
                      <tr>
                          <th>
                              Name
                          </th>
                          <th>
                              Gender
                          </th>
                          <th>
                              Reg Group
                          </th>
                          <th>
                              Year Group
                          </th>
                          <th>
                              House
                          </th>
                      </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
      <!--end: Datatable-->
  </div>
  <!--end::Body-->
</div>
