/*---MyPortal Custom Styles---*/

/*Log Table Background Colours*/
.logAcademicSupport {
    background-color: #a4dae8;
}
.logBehaviour {
    background-color: #ed7171;
}
.logEoy {
    background-color: #f9f4a4;
}
.logPraise {
    background-color: #99e8a1
}
.logSen {
    background-color: #e6baff;
}
.logStudent {
    background-color: #ffd07f;
}
.logTutor {
    background-color: #ffa0d6;
}

/*Certificate Table Background Colours*/
.certCompleted {
    background-color: #99e8a1;
}
.certPending {
    background-color: #f9f4a4;
}
.certFailed {
    background-color: #ed7171;
}
