/*---MyPortal Custom Styles---*/

/*Log Table Background Colours*/
.mp-log-academic-support { background-color: #a4dae8; }

.mp-log-behaviour { background-color: #ed7171; }

.mp-log-report { background-color: #f9f4a4; }

.mp-log-praise { background-color: #99e8a1 }

.mp-log-sen { background-color: #e6baff; }

.mp-log-student-feed { background-color: #ffd07f; }

.mp-log-tutor-note { background-color: #ffa0d6; }

.mp-log-medical-event { background-color: #dee0d9; }


/*Certificate Table Background Colours*/

.mp-cert-completed { background-color: #99e8a1; }

.mp-cert-pending { background-color: #f9f4a4; }

.mp-cert-failed { background-color: #ed7171; }


/*Observation Table Background Colours*/

.mp-observation-outstanding { background-color: #a4dae8 }

.mp-observation-good { background-color: #99e8a1 }

.mp-observation-satisfactory { background-color: #f9f4a4 }

.mp-observation-inadequate { background-color: #ed7171 }


.mp-table {
    border-collapse: separate;
    border-spacing: 1px;
}


.mp-table thead { background-color: #18bc9c !important; }

.mp-table th { color: white; }


.mp-table-link a { text-decoration: underline; }

.mp-margin-left { margin-left: 20px !important; }


.mp-margin-top { margin-top: 20px !important; }


.mp-btn-action-left { width: 41px; }


.mp-bold { font-weight: bolder; }

.mp-btn-size { font-size: 15px !important; }


.mp-btn-action-right { width: 41px; }

.mp-btn-action {
    width: 41px;
    margin-left: 2px;
    margin-right: 2px;
}


.mp-btn-top { width: 131px; }

.mp-btn-table {
    margin-bottom: 8px;
}


.mp-table-condensed { border-spacing: 50px 0; width: 1%; white-space: nowrap;  }

.mp-table-condensed td:first-of-type { padding: 0 20px 0 0; width: 1%; white-space: nowrap; }

.mp-table-condensed td:last-of-type { }

.mp-shrink-width { width: min-content; }


.mp-log-message-box { max-width: 500px; }


.mp-log-table td:not(:nth-of-type(4)) { white-space: nowrap !important; }


.mp-document-table td { white-space: nowrap !important; }

.mp-document-table td:not(:first-of-type) { width: min-content; }


.mp-card {
    margin-right: 20px;
    margin-top: 8px;
    width: min-content;
    min-width: 300px;
}

.mp-btn-top-auto { width: auto; }

.mp-page-title { margin-top: 32px !important; }

.mp-title-credit { color: limegreen; }

.mp-title-debit { color: crimson; }

.mp-text-section {
    background-color: #ecf0f1;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    white-space: pre-line;
}

.mp-input-long {
    max-width: 600px;
}

.mp-textarea-lg {
    max-width: 600px;
    min-height: 330px;
}

.mp-textarea-long {
    max-width: 600px;
    min-height: 50px;
}

.mp-textarea {
    min-height: 46px;
}

.mp-bold-text {
    font-weight: bold;
}

.mp-info-block {
    background-color: #cccccc;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.mp-info-block-label {
    position: relative;
    top: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.mp-info-block-detail {
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.mp-background-danger {
    background-color: rgba(220, 20, 60, 0.8);
}

.mp-background-warning {
    background-color: rgba(218, 165, 32, 0.8);
}

.mp-background-success {
    background-color: rgba(0, 168, 0, 0.8);
}

.inline-block {
    display: inline-block;
}

.mp-info-block-detail-nodata {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}