@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyPortal</h1>
    <p class="lead">MyPortal is a web-based school information management system (MIS), allowing teachers, pupils and parents to collaborate together and promote learning.</p>
    <p>
        <a href="@Url.RouteUrl("AccountLogin")" class="btn btn-primary btn-lg">Login &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ask your IT team for your MyPortal login details.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Access from home</h2>
        <p>MyPortal makes it easy to access your school data from anywhere.</p>
    </div>
    <div class="col-md-4">
        <h2>Version 5</h2>
        <p>MyPortal 5 has an all-new user interface to make workflows and navigation easier.</p>
    </div>
</div>