@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyPortal</h1>
    <p class="lead">MyPortal is an online gateway for students and staff to access information.</p>
    <p>
        <a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ask your form tutor for your MyPortal login details.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Access from home</h2>
        <p>MyPortal makes it easy to access your school data from home.</p>
    </div>
    <div class="col-md-4">
        <h2>Development</h2>
        <p>MyPortal is currently under development. Some features may not be fully featured or work correctly.</p>
    </div>
</div>