@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyPortal</h1>
    <p class="lead">MyPortal is a web-based school information system, allowing teachers, pupils and parents to collaborate together and promote learning.</p>
    <p>
        <a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ask your form tutor for your MyPortal login details.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Access from home</h2>
        <p>MyPortal makes it easy to access your school data from home.</p>
    </div>
    <div class="col-md-4">
        <h2>Version 2</h2>
        <p>MyPortal 2.0 has been redesigned to make workflows easier for all users.</p>
    </div>
</div>