
@{
    ViewBag.Title = "No Profile Found";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h1 class="mp-page-title">Error: No Profile Found</h1>
</div>

<h2>Your user account is not associated with a profile.</h2>

<p>Please contact IT Support before using MyPortal.</p>



