<div class="card card-custom" id="lognote_form">
  <div class="card-header">
    <h3 class="card-title">
      <span class="card-label font-weight-bolder text-dark" *ngIf="!editMode">New Log Note</span>
      <span class="card-label font-weight-bolder text-dark" *ngIf="editMode">Edit Log Note</span>
    </h3>
    <div class="card-toolbar">
      <button (click)="goBack()" class="btn btn-light-primary font-weight-bolder mr-2">
        <i class="fas fa-arrow-left mr-1"></i>Back
      </button>
      <button class="btn btn-primary font-weight-bolder" (click)="save()">
        <i class="fas fa-cloud-upload mr-1"></i>Save
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="logNoteForm" class="my-2">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Log Note Type</label>
            <select [ngClass]="{'is-invalid': logNoteType.touched && logNoteType.invalid}" class="form-control form-control-solid" formControlName="logNoteType">
              <option *ngFor="let logNoteType of logNoteTypes" value="{{logNoteType.id}}">{{logNoteType.description}}</option>
            </select>
            <div *ngIf="logNoteType.touched && logNoteType.invalid" class="invalid-feedback">Log Note Type is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Message</label>
            <textarea [ngClass]="{'is-invalid': message.touched && message.invalid}" class="form-control form-control-solid" formControlName="message"></textarea>
            <div *ngIf="message.touched && message.invalid" class="invalid-feedback">Message is required.</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
