@model MyPortalCore.Areas.Staff.ViewModels.Admin.RolesViewModel
@{
    ViewBag.Title = "Roles";
}

<!-- Header -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-user-friends mr-2"></i>Roles</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="" class="kt-subheader__breadcrumbs-link">Roles</a>
            </div>
        </div>
    </div>
</div>

<!-- Main Container -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Search
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <button class="btn btn-primary"><i class="fas fa-plus mr-2"></i> New Role</button>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <div>
                                    <input type="text" class="form-control" placeholder="Role Name" id="roleNameSearch">
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <button class="btn btn-primary" id="searchButton"><i class="fas fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>


        <!--Table Template-->
        <div class="kt-portlet__body d-none" id="searchResults">
            <div class="row">
                <div class="col-md-12">
                    <table id="role_search" class="table table-striped font-weight-500">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var urlSearchRoles = "@Url.RouteUrl("ApiApplicationRoleSearch")";
        var urlRoleDetails = "";

        $(document).ready(function() {
            $("#searchButton").on("click",
                function() {
                    searchRoles();
                });

            $("#firstNameSearch").on("keyup",
                function(e) {
                    if (e.which === 13) {
                        searchRoles();
                    }
                });

            $("#lastNameSearch").on("keyup",
                function(e) {
                    if (e.which === 13) {
                        searchRoles();
                    }
                });
        });

        function searchRoles() {
            var roleName = $("#roleNameSearch").val();

            var params = { roleName: roleName };

            var queryStr = urlSearchRoles + "?" + $.param(params);

            if ($("#role_search").hasClass("dataTable")) {
                var table = $("#role_search").DataTable();

                table.ajax.url(queryStr);

                table.ajax.reload();
            } else {
                loadDataTable(queryStr);
                $("#searchResults").removeClass("d-none");
            }
        }

        function getDetailsUrl(roleId) {
            return roleId;
        }

        function loadDataTable(url) {
            $("#role_search").DataTable({
                ajax:
                {
                    url: url,
                    dataSrc: ""
                },
                "dom": "rtilp",
                columns: [
                    {
                        data: "name",
                        render: function(data, type, role) {
                            var detailsUrl = getDetailsUrl(role.id);
                            return `<a href="${detailsUrl}">${role.name}</a>`;
                        }
                    }
                ],
                "language":
                {
                    "emptyTable": "No roles"
                }
            });
        }
    </script>
}
