<div class="card card-custom">
  <!--begin::Card header-->
  <div class="card-header">
    <h3 class="card-title">
      <span class="card-label font-weight-bolder text-dark">Edit User</span>
    </h3>
    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <!--begin::BackButton-->
      <button routerLink="/staff/settings/users" class="btn btn-light-primary font-weight-bold btn-sm px-3 font-size-base">
        <i class="fas fa-arrow-left mr-1"></i>Back
      </button>
      <!--end::BackButton-->
      <button type="button" (click)="save()" class="btn btn-primary font-weight-bold btn-sm px-3 ml-2 font-size-base">
        <i class="fas fa-cloud-upload mr-1"></i>Save
      </button>
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <form [formGroup]="detailsForm" class="form">
      <div class="tab-content">
        <!--begin::Tab-->
        <div class="tab-pane show active px-7" id="role_tab_details" role="tabpanel">
          <!--begin::Row-->
          <div class="row">
            <div class="col-sm-7 my-2">
              <!--begin::Row-->
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="text-dark font-weight-bold mb-10">User Details:</h6>
                </div>
              </div>
              <!--end::Row-->
              <!--begin::Group-->
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Username</label>
                    <input class="form-control form-control-solid" formControlName="username" type="text"/>
                  </div>
                </div>
              </div>
              <!--end::Group-->
              <!--begin::Group-->
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>User Type</label>
                    <div class="radio-list">
                      <label class="radio">
                        <input type="radio" value="0" formControlName="userType" name="userType"/>
                        <span></span>
                        Staff
                      </label>
                      <label class="radio">
                        <input type="radio" value="1" formControlName="userType" name="userType"/>
                        <span></span>
                        Student
                      </label>
                      <label class="radio">
                        <input type="radio" value="2" formControlName="userType" name="userType"/>
                        <span></span>
                        Contact
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Roles</label>
                    <select class="form-control" id="user_roles" formControlName="roles" multiple>
                      <option *ngFor="let role of roles" [value]="role.id">{{role.description}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Linked Person</label>
                    <input class="form-control form-control-solid" formControlName="personName" type="text"/>
                    <button (click)="showLinkPerson()" *ngIf="!user.person" type="button" class="btn btn-light-primary my-2 mr-2">Link Person</button>
                    <button (click)="removeLinkedPerson()" *ngIf="user.person" type="button" class="btn btn-light-danger my-2 mr-2">Remove Link</button>
                  </div>
                </div>
              </div>
              <!--end::Group-->
              <div>
                <div class="separator separator-dashed my-10"></div>
                <div class="row">
                  <div class="col-sm-4">
                    <h6 class="text-dark font-weight-bold mb-10">User Management:</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <button (click)="setUserEnabled(false)" *ngIf="user.enabled" type="button" class="btn btn-light-danger mr-2">Disable User</button>
                    <button (click)="setUserEnabled(true)" *ngIf="!user.enabled" type="button" class="btn btn-light-primary mr-2">Enable User</button>
                    <button (click)="showResetPassword()" type="button" class="btn btn-light-primary mr-2">Reset Password</button>
                    <button (click)="delete()" type="button" class="btn btn-light-danger">Delete User</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Row-->
        </div>
        <!--end::Tab-->
      </div>
    </form>
  </div>
  <!--begin::Card body-->
</div>
