@using MyPortal.Processes
@{
    ViewBag.Title = "Users";
    ViewBag.DisplayTitle = "Users";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12">
        @if (User.HasPermission("EditUsers"))
            {
                @Html.ActionLink("New User", "NewUser", "Admin", null, new {@class = "btn btn-success"})
                <hr/>
            }
    </div>
    
</div>

<div class="container">
    <table class="table table-bordered table-hover mp-table mp-table-link" id="users">
        <thead>
        <tr>
            <th>Username</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {

            $("#users").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userName",
                        render: function(data, type, user) {
                            return "<a href='/Staff/Admin/Users/" + user.id + "'>" + user.userName + "</a>";
                        }
                    }
                ]

            });
        });
    </script>
}