@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Users</h2>
<hr/>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("New User", "NewUser", "Admin", null, new {@class = "btn btn-success", style = "margin-bottom: 8px;"})
}

<table class="table table-bordered table-hover" id="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            $("#users").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function(data, type, user) {
                            return "<a href='/Staff/Admin/Users/" + user.id + "'>" + user.id + "</a>";
                        }
                    },
                    {
                        data: "userName"
                    }
                ]

            });
        });
    </script>
}