<div *ngIf="viewService.showCreateComponent" class="card card-custom" id="role_search">
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">New Role</span>
    </h3>
    <div class="card-toolbar">
      <button
        class="btn btn-default font-weight-bolder mr-2"
        (click)="viewService.showSearch()"
      >
        Back
      </button>
      <button
        class="btn btn-primary font-weight-bolder"
        (click)="save()"
      >
        <i class="fas fa-cloud-upload mr-1"></i>Save
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="newRoleForm">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control form-control-solid" formControlName="code"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control form-control-solid" formControlName="name"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
