<div class="row" *ngIf="statsModel" id="student_stats">
  <div class="col-lg-3">
    <div class="card card-custom bg-primary card-stretch gutter-b">
      <!--begin::Body-->
      <div class="card-body">
												<span class="svg-icon">
                          <i class="fad text-white fa-2x fa-stopwatch fa-fw"></i>
												</span>
        <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{attendance}}</span>
        <span class="font-weight-bold text-white font-size-sm">Attendance</span>
      </div>
      <!--end::Body-->
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-custom bg-success card-stretch gutter-b">
      <!--begin::Body-->
      <div class="card-body">
												<span class="svg-icon svg-icon-2x svg-icon-white">
                          <i class="fad text-white fa-2x fa-star fa-fw"></i>
												</span>
        <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{achievementPoints}}</span>
        <span class="font-weight-bold text-white font-size-sm">Achievement Points</span>
      </div>
      <!--end::Body-->
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-custom bg-danger card-stretch gutter-b">
      <!--begin::Body-->
      <div class="card-body">
												<span class="svg-icon svg-icon-2x svg-icon-white">
                          <i class="fad text-white fa-2x fa-star-exclamation fa-fw"></i>
												</span>
        <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{behaviourPoints}}</span>
        <span class="font-weight-bold text-white font-size-sm">Behaviour Points</span>
      </div>
      <!--end::Body-->
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-custom bg-info card-stretch gutter-b">
      <!--begin::Body-->
      <div class="card-body">
												<span class="svg-icon svg-icon-2x svg-icon-white">
                          <i class="fad text-white fa-2x fa-exclamation-triangle fa-fw"></i>
												</span>
        <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{exclusions}}</span>
        <span class="font-weight-bold text-white font-size-sm">Exclusions</span>
      </div>
      <!--end::Body-->
    </div>
  </div>
</div>
