@model MyPortal.Areas.Staff.ViewModels.Curriculum.StudyTopicDetailsViewModel
@{
    ViewBag.Title = "Study Topic Details";
    ViewBag.DisplayTitle = "Study Topic Details";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.StudyTopic.Name</h1>
</div>

<div class="row">

    <div class="col-xl-12 col-md-12 mb-4">

        <a class="btn btn-primary btn-sm" href="@Url.Action("StudyTopics")"><i class="fas fa-arrow-left"></i> Back</a>

    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-ruler-combined"></i> Lesson Plans</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("LessonPlans").DataSource(d => { d.Url(Url.HttpRouteUrl("ApiGetLessonPlansByStudyTopicDataGrid", new { studyTopicId = Model.StudyTopic.Id })).CrossDomain(false).Adaptor("UrlAdaptor"); }).Columns(c =>
                {
                    c.Field("Title").HeaderText("Title").Template("#lessonPlansTitleTemplate").Width("300").Add();
                    c.Field("StudyTopic").HeaderText("Study Topic").Template("#lessonPlansStudyTopicTemplate").Width("200").Add();
                    c.Field("Author").HeaderText("Author").Template("#lessonPlansAuthorTemplate").Width("150").Add();
                    c.HeaderText("Actions").Template("#lessonPlansActionsTemplate").Width("170").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string> { "Search" }).Render()
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script>

        var urlViewLessonPlan = "@Url.Action("LessonPlanDetails", new {lessonPlanId = 9999})";

        $(document).ready(function () {
            $("#LessonPlans").on("click",
                ".js-view",
                function() {
                    var button = $(this);
                    location.href = urlViewLessonPlan.replace("9999", button.attr("data-plan-id"));
                });
        });
    </script>

    <script type="text/x-jsrender" id="lessonPlansTitleTemplate">
        <div>
            ${Title}
        </div>
    </script>

    <script type="text/x-jsrender" id="lessonPlansStudyTopicTemplate">
        <div>
            ${StudyTopic}
        </div>
    </script>

    <script type="text/x-jsrender" id="lessonPlansAuthorTemplate">
        <div>
            ${Author}
        </div>
    </script>

    <script type="text/x-jsrender" id="lessonPlansActionsTemplate">
        <div>
            <button type='button' class='btn btn-link js-view' data-plan-id="${Id}">
                View
            </button>
        </div>
    </script>
}

