@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container float-left">
    <h1 class="mp-page-title">Error</h1>
    <hr/>
</div>

<h2>An error occurred when loading this page</h2>
<p>The page you requested is invalid.</p>