@model MyPortal.ViewModels.NewSaleViewModel
@{
    ViewBag.Title = "NewSale";
    Layout = "~/Views/Shared/_LayoutFinance.cshtml";
}

<h2>New Sale</h2>

@using (Ajax.BeginForm(null, null, new AjaxOptions() {Url = ""}, new {id = "NewSaleForm"}))
{
    <div class="form-group">
        @Html.LabelFor(x => x.)
    </div>
}

