@model MyPortal.ViewModels.SaleEntryViewModel
@{
    ViewBag.Title = "Sale Entry";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Sale Entry</h2>
    <hr/>
</div>

<div class="container float-left">
    @Html.Label("Product")
    @Html.DropDownListFor(x => x.Sale.Product, new SelectList(Model.Products,"Id","Description"), "", new { @class = "form-control", Name = "Product", id = "productSelect" })
    <p class="text-primary mp-bold" data-price id="price"></p>
</div>

<div class="container float-left">
    <div class="form-group">
        <label>Year Group</label>
        <select class="form-control" id="yearGroupSelect">
        </select>
    </div>
</div>

<div class="container float-left">
    <div class="form-group" id="selectStudentArea">
        <label class="d-none" id="studentLabel">Student</label>
        <select class="form-control disabled d-none" id="studentSelect">
        </select>
    </div>
</div>

<div class="container float-left">
    <button type="button" class="btn btn-primary" id="backButton">Back</button>
    <button class="btn btn-success d-none" id="submitButton">Make Sale</button>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {
            //Gets Year Groups and Inserts Options into Dropdown
            $.ajax({
                url: "/api/yearGroups/fetch",
                method: "GET",          
                complete: function(data) {
                    $("#yearGroupSelect").empty();
                    $(data.responseJSON).each(function(i, yearGroup) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#yearGroupSelect');
                    });
                    $("#yearGroupSelect").val("");
                }
            });

            $("#yearGroupSelect").on("change",
                function() {
                    if ($("#yearGroupSelect").val() !== "") {
                        $.ajax({
                            url: "/api/students/yearGroup/" + $("#yearGroupSelect").val(),
                            method: "GET",
                            complete: function(data) {
                                $("#studentSelect").empty();
                                $(data.responseJSON).each(function(i, student) {
                                    var divData = "<option value=" +
                                        data.responseJSON[i].id +
                                        ">" +
                                        data.responseJSON[i].lastName + ", " + data.responseJSON[i].firstName + 
                                        "</option>";
                                    $(divData).appendTo('#studentSelect');
                                });
                                $("#studentSelect").val("");
                            }
                        });
                        $("#studentSelect").removeClass("d-none");
                        $("#studentSelect").removeClass("disabled");
                        $("#studentLabel").removeClass("d-none");
                    }
                });

            $("#productSelect").on("change",
                function() {
                    $.ajax({
                        url: "/api/products/price/" + $("#productSelect").val(),
                        method: "GET",
                        success: function(data) {
                            $("#price").text("Price: £" + data.toFixed(2));
                        }
                    });
                });

            $("#studentSelect").on("change",
                function() {
                    if ($("#studentSelect").val() !== "")
                    $("#submitButton").removeClass("d-none");
                });

            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/Finance/Sales");
                });

            function makeSale() {
                $.ajax({
                    url: "/api/sales/new",
                    method: "POST",
                    data: ({ studentId: $("#studentSelect").val(), productId: $("#productSelect").val() }),
                    success: function(e) {
                        toastr.success(e);
                    },
                    error: function(e) {
                        toastr.error(e.responseJSON);
                    }
                });
            }

            function resetForm() {
                $("#studentSelect").val("");
                $("#studentLabel").addClass("d-none");
                $("#studentSelect").addClass("d-none");
                $("#studentSelect").addClass("disabled");
                $("#submitButton").addClass("d-none");
                $("#yearGroupSelect").val("");
            }

            $("#submitButton").on("click",
                function() {                    
                    $.ajax({
                        url: "/api/sales/query",
                        method: "POST",
                        data: ({ studentId: $("#studentSelect").val(), productId: $("#productSelect").val() }),
                        success: function(data) {
                            if (!data) {
                                bootbox.confirm("Student has insufficient funds. Do you wish to proceed with the sale?",
                                    function(result) {
                                        if (result) {
                                            makeSale();
                                            resetForm();
                                        } else {
                                            resetForm();
                                        }
                                    });
                            }

                            if (data) {
                                makeSale();
                                resetForm();
                            }
                        },
                        error: function(e) {
                            toastr.error(e.responseJSON);
                            resetForm();
                        }
                    });
                });


        });        
    </script>   
    
    @Scripts.Render("~/bundles/staff")
    @Scripts.Render("~/bundles/jqueryval")
}


