<div *ngIf="viewService.showCreateComponent" class="card card-custom" id="role_search">
  <div class="card-header">
    <h3 class="card-title">
      <span class="card-label font-weight-bolder text-dark">New User</span>
    </h3>
    <div class="card-toolbar">
      <button class="btn btn-light-primary font-weight-bolder mr-2" (click)="goBack()">
        <i class="fas fa-arrow-left mr-1"></i>Back
      </button>
      <button class="btn btn-primary font-weight-bolder" (click)="save()">
        <i class="fas fa-cloud-upload mr-1"></i>Save
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="newUserForm" class="my-2">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Username</label>
            <input [ngClass]="{'is-invalid': username.touched && username.invalid}" type="text" class="form-control form-control-solid" formControlName="username"/>
            <div *ngIf="username.touched && username.invalid" class="invalid-feedback">Username is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Password</label>
            <input [ngClass]="{'is-invalid': password.touched && password.invalid}" type="password" class="form-control form-control-solid" formControlName="password"/>
            <div *ngIf="password.touched && password.invalid" class="invalid-feedback">Password is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Confirm Password</label>
            <input [ngClass]="{'is-invalid': confirmPassword.touched && confirmPassword.invalid}" type="password" class="form-control form-control-solid" formControlName="confirmPassword"/>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="invalid-feedback">Confirm Password is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>User Type</label>
            <div class="radio-list">
              <label class="radio">
                <input type="radio" value="0" formControlName="userType" name="userType"/>
                <span></span>
                Staff
              </label>
              <label class="radio">
                <input type="radio" value="1" formControlName="userType" name="userType"/>
                <span></span>
                Student
              </label>
              <label class="radio">
                <input type="radio" value="2" formControlName="userType" name="userType"/>
                <span></span>
                Contact
              </label>
            </div>
            <div *ngIf="userType.touched && userType.invalid" class="invalid-feedback">User Type is required.</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
