<div class="card card-custom gutter-b" id="{{componentName}}">
  <div class="card-header">
    <div class="card-title">
      Log Notes
    </div>
    <div *ngIf="allowEdit" class="card-toolbar">
      <button (click)="newLogNote()" class="btn btn-light-primary font-weight-bolder">
        <i class="fas fa-plus fa-fw mr-1"></i>New Log Note
      </button>
    </div>
  </div>
  <div class="card-body">
    <p *ngIf="logNotes && logNotes.length === 0">No log notes.</p>
    <div class="timeline timeline-3">
      <div class="timeline-items">
        <div *ngFor="let logNote of logNotes" class="timeline-item">
          <div class="timeline-media">
            <i class="fas {{logNote.logNoteType.iconClass}} fa-fw" style="color: {{logNote.logNoteType.colourCode}}"></i>
          </div>
          <div class="timeline-content">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div class="mr-2">
                <span class="text-dark-75 font-weight-bold">{{logNote.createdBy | userDisplayName}}</span>
                <span class="text-muted ml-2">{{logNote.createdDate | date:'dd/MM/YYYY'}}</span>
                <span class="label font-weight-bolder label-inline ml-2 text-white" style="background-color: {{logNote.logNoteType.colourCode}}">
                      {{logNote.logNoteType.description}}
                    </span>
              </div>
              <div *ngIf="allowEdit" class="dropdown ml-2" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ki ki-more-hor font-size-lg text-primary"></i>
                </a>
                <div class="dropdown-menu">
                  <a routerLink="logNotes/{{logNote.id}}" class="dropdown-item">Edit</a>
                  <a (click)="delete(logNote.id)" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
            <p class="p-0" style="white-space: pre-line">
              {{logNote.message}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
