@using MyPortal.Processes
@model IEnumerable<MyPortal.Models.Database.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<!--#region Title-->
<div class="container float-left">
    <h2 class="mp-page-title">Students</h2>
    <hr/>
</div>
<!--#endregion-->
<!--#region Buttons at Top of Page-->
<div class="container float-left">
    @if (User.HasPermission("EditStudents"))
    {
        @Html.ActionLink("New Student", "NewStudent", "Staff", null, new {@class = "btn btn-primary"})
        <hr/>
    }
</div>

<div class="float-left container">
    @Html.EJS().Grid("Students").DataSource(dataManager =>
    {
        dataManager.Url("/api/people/students/get/dataGrid/all").CrossDomain(false).Adaptor("UrlAdaptor"); 

    }).Columns(c =>
    {
        c.Field("DisplayName").HeaderText("Name").Template("#nameTemplate").Width("300").Add();
        c.Field("YearGroupName").HeaderText("Year Group").Width("80").Add();
        c.Field("RegGroupName").HeaderText("Reg Group").Width("80").Add();
        c.Field("HouseName").HeaderText("House").Width("100").Add();
    }).AllowPaging().SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string>() { "Search" }).PageSettings(p => p.PageSize(12)).Render()
</div>

<style type="text/css" class="cssStyles">
    .student-name {
        font-weight: bold;
    }
</style>

@section scripts
{
    <script>
        $(document).ready(function() {
        });
    </script>

    <script type="text/x-jsrender" id="nameTemplate">
        <div>
                <span id="Studtext" class="student-name"><a href="/Staff/People/Students/${Id}">${DisplayName}</a></span>
        </div>        
    </script>

    
}