@{
    ViewBag.Title = "Result Sets";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<body>
<div class="container float-left">
    <h2 class="mp-page-title">Result Sets</h2>
</div>

<div class="container float-left">
    @if (User.IsInRole("SeniorStaff"))
    {
        <button type="button" class="btn btn-success mp-btn-top-auto" data-toggle="modal" data-target="#NewResultSet">New Result Set</button>
        <hr />
    }

</div>

<div class="container float-left">
        <table class="table table-bordered table-hover mp-table mp-table-link" id="resultSets">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#students").DataTable({
                ajax: {
                    url: "/api/resultSets/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, resultSet) {
                            return "<a href='/Staff/Students/" +
                                resultSet.id +
                                "'>" +
                                resultSet.name +
                                "</a>";
                        }
                    },                    
                    {
                        data: "isCurrent",
                        render: function (data) {
                            if (data === true) {
                                return "Current";
                            }
                            if (data === false) {
                                return "Active";
                            }
                        }
                    }
                ]
            });
        });
    </script>

