@model IEnumerable<MyPortal.Models.Staff>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Staff</h2>
    <hr/>
</div>

<div class="container float-left">
    <table class="table table-bordered table-hover mp-table mp-table-link" id="staff">
        <thead>
            <tr>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#staff").DataTable({
                ajax: {
                    url: "/api/staff",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function(data, type, staff) {
                            return "<a href='/Staff/Staff/" +
                                staff.id +
                                "'>" +
                                staff.lastName +
                                ", " +
                                staff.firstName +
                                "</a>";
                        }
                    }
                ],
                responsive: true,
                language: {
                    "emptytable": "No staff to display"
                }
            });
        });
    </script>

    @Scripts.Render("~/bundles/staff")
}