@model IEnumerable<MyPortal.Models.Staff>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Staff</h2>
@if (!Model.Any())
{
    <p>No staff to display.</p>
}

else
{
    <table class="table table-bordered table-hover" id="staff">
        <thead>
            <tr>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#staff").DataTable({
                ajax: {
                    url: "/api/staff",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function(data, type, staff) {
                            return "<a href='/Staff/Staff/" + staff.id + "'>" + staff.lastName + ", " + staff.firstName + "</a>";
                        }
                    }
                ]
            });
        } );
    </script>
}

