@model IEnumerable<MyPortal.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Students</h2>

<p>@Html.ActionLink("New Student", "NewStudent", "Staff", null, new { @class = "btn btn-success" })</p>

@if (!Model.Any())
{
    <p>No students to display.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Student</th>
            <th>Year Group</th>
            <th>Reg Group</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.ActionLink(student.LastName+", "+student.FirstName, "StudentDetails","Staff", new {id = student.Id},null)</td>
                <td>@student.YearGroup1.Name</td>
                <td>@student.RegGroup1.Name</td>
            </tr>
        }
        </tbody>
    </table>
}