@model IEnumerable<MyPortal.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Students</h2>
<hr/>

@if (User.IsInRole("SeniorStaff"))
{
    @Html.ActionLink("New Student", "NewStudent", "Staff", null, new {@class = "btn btn-success", style = "margin-bottom: 8px;"})
}

<table class="table table-bordered table-hover mp-table" id="students">
    <thead>
    <tr>
        <th>Student</th>
        <th>Year Group</th>
        <th>Reg Group</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#students").DataTable({
                ajax: {
                    url: "/api/students",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function(data, type, student) {
                            return "<a href='/Staff/Students/" +
                                student.id +
                                "'>" +
                                student.lastName +
                                ", " +
                                student.firstName +
                                "</a>";
                        }
                    },
                    {
                        data: "yearGroup1.name"
                    },
                    {
                        data: "regGroup1.name"
                    }
                ]
            });
        });
    </script>

    @Scripts.Render("~/bundles/staff")
}