@model IEnumerable<MyPortal.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<!--#region Title-->
<div class="container float-left">
    <h2 class="mp-page-title">Students</h2>
    <hr />
</div>
<!--#endregion-->
<!--#region Buttons at Top of Page-->
<div class="container float-left">
    @if (User.IsInRole("SeniorStaff"))
    {
        @Html.ActionLink("New Student", "NewStudent", "Staff", null, new { @class = "btn btn-success" })
        <hr />
    }
</div>
<!--#endregion-->
<!--#region Students Table-->
<div class="float-left container">
    <table class="table table-bordered table-hover mp-table mp-table-link" id="students">
        <thead>
            <tr>
                <th>Student</th>
                <th>Year Group</th>
                <th>Reg Group</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--#endregion-->

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#students").DataTable({
                ajax: {
                    url: "/api/students",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data, type, student) {
                            return "<a href='/Staff/Students/" +
                                student.id +
                                "'>" +
                                student.lastName +
                                ", " +
                                student.firstName +
                                "</a>";
                        }
                    },
                    {
                        data: "yearGroup.name"
                    },
                    {
                        data: "regGroup.name"
                    }
                ]
            });
        });
    </script>

    @Scripts.Render("~/bundles/staff")
}